body {
  font-family: verdana, arial, serif;
  color: #5070a0;
  background-color: #292929;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: rgb(80, 136, 232);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

